/* Breakpoints */
@media screen and (max-width: 991px) {
  html {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }

  main {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  .navbar,
  article,
  footer {
    scroll-snap-align: start;
  }

  .navbar {
    position: fixed !important;
    background-color: rgb(0, 0, 0, 0.2);
  }

  /* Inversion de la couleur du switch : */
  .navbar-scroll .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  h2 {
    font-size: 8vw;
  }

  section {
    display: flex;
    height: 100%;
    width: 300%;
  }

  article {
    font-weight: bolder;
    background-size: cover;
  }

  article:nth-child(1) {
    background-image: url('src/img/me.jpg');
  }

  article:nth-child(2) {
    background-image: url('/public/src/img/dish.jpg');
  }

  article:nth-child(3) {
    background-image: url('public/src/img/background-recette-card.jpg');
  }

  .animate {
    animation: none !important;
  }

  .img-container {
    display: none;
  }

  .text-container {
    padding: 10%;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
  }

  .text-container,
  .img-container {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  html {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }

  article,
  footer {
    scroll-snap-align: start;
  }

  .navbar {
    position: absolute !important;
  }

  h2 {
    font-size: 5vw;
  }

  .text-container {
    padding: 2%;
  }

  .text-container,
  .img-container {
    width: 50%;
  }
}

/* GLOBAL */
body {
  font-family: 'Montserrat';
}

h2 {
  margin: 5% 0 5% 0;
  font-weight: 800;
  text-transform: uppercase;
}

article {
  display: flex;
  justify-content: space-between;
  width: inherit;
  height: 100%;
}

.text-container,
.img-container {
  height: 100%;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  opacity: 0;
  transition: all 1s;
}

.img-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.word {
  -webkit-text-stroke: 3px black;
}
.word-color-1 {
  color: #accfcb;
}

.word-color-2 {
  color: #dbad4a;
}

.word-color-3 {
  color: #df8453;
}

footer,
article {
  scroll-snap-align: start;
}

.text-container:nth-child(1).animate,
.text-container:nth-child(3).animate {
  --translate: -20% 0%;
}

.text-container:nth-child(2).animate {
  --translate: 0% -20%;
}

.animate {
  opacity: 1;
  animation: translate 1s;
}

@keyframes translate {
  0% {
    translate: var(--translate);
  }
  100% {
    translate: 0% 0%;
  }
}