/* Breakpoints */
@media screen and (min-width: 769px) {
  section,
  .text-container,
  .img-container {
    height: 100vh;
  }
  .text-container,
  .img-container,
  .img-container > img {
    width: 50vw;
  }
  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  section:nth-of-type(1),
  section:nth-of-type(3) {
    flex-direction: column;
  }
  section:nth-of-type(2) {
    flex-direction: column-reverse;
  }
  .text-container,
  .img-container {
    min-height: 50vh;
    width: 100vw;
  }
}

/* Inversion de la couleur du switch */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2800, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
html {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
body {
  font-family: 'Montserrat';
}
.global-container {
  margin-top: -10vh;
}
h2 {
  margin: 5% 0 5% 0;
  font-weight: 800;
  font-size: 5vw;
  text-transform: uppercase;
}

section {
  display: flex;
  justify-content: space-between;
  width: inherit;
  min-height: 100vh;
}

.text-container {
  width: inherit;
  padding: 2%;
}

.img-container > img {
  width: inherit;
  height: inherit;
}

.word {
  -webkit-text-stroke: 1px black;
}
.word-color-1 {
  color: #accfcb;
}

.word-color-2 {
  color: #dbad4a;
}

.word-color-3 {
  color: #df8453;
}

footer,
section {
  scroll-snap-align: start;
}