h2 {
  margin: 5% 0 5% 0;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 8vw;
}

article,
footer {
  scroll-snap-align: start;
}

article {
  display: flex;
  justify-content: space-between;
  height: 100%;
  min-width: 100%;
  font-weight: bolder;
  background-size: cover;
}

article:nth-of-type(1) {
  background-image: url("/img/me.jpg");
}

article:nth-of-type(2) {
  background-image: url("/img/dish.jpg");
}

article:nth-of-type(3) {
  background-image: url("/img/background-recette-card.jpg");
}

.img-container {
  display: none;
}

.text-container,
.img-container {
  height: 100%;
  width: 100%;
}

.text-container {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 10%;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(60px);
  transition: opacity 0.8s;
}

.img-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

h2 span {
  font-weight: 100;
  -webkit-text-stroke: 3px black;
}

.word {
  font-weight: initial;
}

@media screen and (max-width: 767px) {
  section {
    display: flex;
    height: 100%;
    width: 100%;
    scroll-snap-type: x mandatory;
    overflow: auto;
  }
}

@media screen and (min-width: 768px) {
  html {
    scroll-snap-type: y mandatory;
  }

  h2 {
    font-size: 5vw;
  }

  .navbar-brand {
    color: black;
  }

  article:nth-of-type(1),
  article:nth-of-type(2),
  article:nth-of-type(3) {
    background-image: unset;
  }

  .text-container {
    width: 50%;
    padding: 2%;
    background-color: unset;
    backdrop-filter: unset;
  }

  .text-container p {
    font-weight: 400;
  }

  .img-container {
    display: block !important;
    width: 50%;
  }
}
