html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 1em;
}

.container {
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: lightgray;
  border: 2px solid gray;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.inputDiv {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  margin: 1%;
  background-color: gray;
  border-radius: 10px;
  font-weight: bold;
}

.formTitle {
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 1em;
}

.btn-dark {
  padding: 1em !important;
}