footer {
  position: relative;
  bottom: 0;
  width: auto;
  padding: 2%;
  text-align: center;
  overflow: hidden;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 1%;
}

.contentFooter {
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  padding: 1%;
}

.contentFooter div {
  padding: inherit;
}

.contentFooter div:nth-child(1),
.contentFooter div:nth-child(2) {
  border-bottom: 4px solid rgb(255, 255, 255, 0.15);
}

.copyright {
  color: white;
}

@media screen and (min-width: 768px) {
  footer {
    text-align: unset;
    padding: 1%;
  }

  .contentFooter {
    flex-direction: row;
  }

  .contentFooter div:nth-child(1),
  .contentFooter div:nth-child(2) {
    border-right: 4px solid rgb(255, 255, 255, 0.15);
  }
}
