/* VARIABLES */
:root {
  --color-dark: rgb(33, 37, 41);
  --font-size-title: xxx-large;
  --text-stroke-size: 2px;
  --background-color-flip-card: #677381;
  --background-color-flip-card-one: #2f2c36;
  --background-color-flip-card-two: #383440;
  --background-color-flip-card-three: #413d4b;
  --background-color-flip-card-four: #4a4656;
  --background-color-flip-card-five: #544e60;
  --background-color-flip-card-six: #5d576b;
}

#navbar {
  position: sticky;
  max-width: 1440px;
}

#navbar,
main {
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

main {
  padding-left: 0.75rem; /* padding de bootstrap */
  padding-right: 0.75rem;
  background-color: unset;
}

section {
  margin-bottom: 35px;
  border-radius: 5px;
}

.title {
  margin-bottom: 25px;
}

.title h2 {
  font-size: var(--font-size-title);
  font-weight: bold;
  text-transform: uppercase;
  width: inherit;
  text-align: center;
}

#home {
  position: relative;
  width: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

#home img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

#home .title {
  margin: 20px 0 0 0;
}

#home .title h2 {
  font-size: larger;
  font-weight: 300;
  background-color: white;
}

#home .title p {
  margin: 0;
  font-size: smaller;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

#about-me-container,
#reservation-container {
  padding-left: 2%;
  padding-right: 2%;
}

#about-me-container {
  border: 0.5rem dashed #f5ebe0;
}

#about-me-container .title h2 {
  width: fit-content;
  color: transparent;
  background-image: linear-gradient(
    45deg,
    indianred 50%,
    rgb(53, 114, 172, 1) 50%
  );
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left;
  background-clip: text;
}

#about-me-container article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#about-me-container p {
  text-align: center;
}

#about-me-container article img {
  width: 50%;
  aspect-ratio: 1;
  margin-top: 100px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  transform: rotate(-5deg);
  box-shadow: #d6ccc2 -20px 20px 0px 10px, #f5ebe0 10px -5px 0px 20px;
  border-radius: 1px;
}

#about-me-container a {
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#about-me-container,
#reservation-container {
  padding-top: 35px;
  padding-bottom: 35px;
}

#menu-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  position: relative;
  transition: all 2s;
}

#menu-title-container {
  position: relative;
  display: flex;
  width: 100%;
  scroll-margin-top: 11vh; /* permet d'ajuster la position du anchor lors du clic sur le bouton menu */
}

#menu-title-container .title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

#menu-title-container .title h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: url("/img/menu-title-background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-text-stroke: var(--text-stroke-size) black;
  width: inherit;
  margin-bottom: 0%;
  padding: 5%;
  border-radius: 25px;
  box-shadow: inset #00000010 0px 0px 0px 5px;
}

#menu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 50px; /* Pour rattraper le margin-bottom sur les cartes */
}

.straight {
  height: 35px;
  width: 100%;
}

.straight-one {
  opacity: 100%;
}

.straight-two {
  opacity: 50%;
}

.straight-four {
  opacity: 70%;
}

.straight-five {
  opacity: 60%;
}

.straight-six {
  opacity: 80%;
}

.straight .straight-50 {
  width: 50%;
  opacity: 50%;
  background-color: inherit;
  filter: brightness(0.8);
}

.mirror {
  flex-direction: column-reverse;
  direction: rtl;
}

.straight-lines {
  display: block;
  width: 100%;
}

.straight-lines.mirror {
  display: none;
}

.flip-card {
  opacity: 0;
  height: 300px;
  width: 100%;
  margin-bottom: -50px;
  z-index: 1;
  transition: width 0.8s, z-index 0s 0.2s;
}

.flip-card:hover {
  z-index: 6;
}

.flip-card .inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  transition: all 0.8s;
}

.flip-card:hover .inner {
  transform: rotateX(180deg);
}

.flip-card .inner .type {
  background-color: var(--background-color-flip-card);
  padding: 2%;
  color: white;
}

.flip-card .inner,
.flip-card .inner .type,
.flip-card .inner .dishs {
  border-radius: inherit;
}

.straight-one,
.flip-card-one .inner .type {
  background-color: var(--background-color-flip-card-one);
}

.straight-two,
.flip-card-two .inner .type {
  background-color: var(--background-color-flip-card-two);
}

.straight-three,
.flip-card-three .inner .type {
  background-color: var(--background-color-flip-card-three);
}

.straight-four,
.flip-card-four .inner .type {
  background-color: var(--background-color-flip-card-four);
}

.straight-five,
.flip-card-five .inner .type {
  background-color: var(--background-color-flip-card-five);
}

.straight-six,
.flip-card-six .inner .type {
  background-color: var(--background-color-flip-card-six);
}

.flip-card .type p {
  padding: 2% 4%;
  color: white;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 99px;
}

.flip-card:not(:last-of-type) .inner .type p {
  margin-top: -50px;
}

.dishs {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
  padding: 5%;
  color: white;
  background-color: var(--color-dark);
  overflow-y: auto;
  transform: rotateX(180deg);
}

.dish {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: inherit;
  animation: all 2s;
}

.dish-separator {
  width: 20%;
  border-top: 2px solid white;
  margin: 10%;
}

.dish b {
  margin-bottom: 2%;
}

.type {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.dishs,
.type {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card:hover .dishs h6,
.flip-card:hover .dish {
  animation: scroll 2s;
}

#reservation-container {
  background-color: var(--color-dark);
  border: 10px dashed white;
}

#reservation-container .title h2 {
  color: transparent;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.25) 0%,
    rgba(0, 0, 0, 1) 50%
  );
  background-clip: text;
  -webkit-text-stroke: 2px rgb(255, 255, 255, 0.5);
}

#reservation-container a {
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  section {
    overflow-x: hidden;
  }

  #menu-title-container .title {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 80%;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  #navbar {
    position: sticky;
    top: 2vh;
    width: calc(100% - 1.5rem);
    background-color: black;
    border-radius: 20px;
    box-shadow: 0px 0px 0px 5px rgb(0 0 0 / 10%) !important;
  }

  .navbar-toggler-icon,
  .navbar-toggler:focus .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    transition: background-image 1s;
  }

  .navbar-brand,
  .nav-link {
    color: white;
  }

  .navbar-brand {
    display: flex;
    align-items: center;
  }

  .navbar-brand:hover {
    color: white;
  }

  .navbar-collapse {
    margin-top: unset;
    padding: unset;
    background-color: unset;
    border: unset;
    border-radius: unset;
  }

  #navbar {
    padding-left: 2%;
    padding-right: 2%;
  }

  section {
    margin-top: 4vh;
    margin-bottom: 4vh;
    border-radius: 25px;
  }

  .title {
    margin-bottom: 50px;
  }

  #home {
    height: 87vh;
  }

  #home img {
    height: 100%;
    aspect-ratio: unset;
    transition: transform 0.5s ease;
  }

  #home img:hover {
    transform: scale(1.1);
  }

  #home .title {
    position: absolute;
    left: 40px;
    bottom: 20px;
  }

  #home .title h2 {
    font-size: var(--font-size-title);
  }

  #home .title p {
    font-size: x-large;
    text-align: left;
    color: white;
  }

  #about-me-container,
  #reservation-container {
    padding-left: unset;
    padding-right: unset;
  }

  #about-me-container {
    padding: 0 5%;
    background-color: white;
    border-radius: 20px;
    border: 15px dotted #f5ebe0;
    overflow: hidden;
  }

  #about-me-container article {
    flex-direction: row;
  }

  #about-me-container article > div:first-of-type {
    max-width: 50%;
  }

  #about-me-container article img {
    width: 30%;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  #about-me-container p {
    text-align: unset;
  }

  #about-me-container a {
    width: fit-content;
    margin-left: unset;
  }

  #menu {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: unset;
  }

  #menu-title-container {
    margin-bottom: 50px;
  }

  #menu-title-container .title {
    margin: auto;
  }

  #menu-title-container .title h2 {
    height: 100%;
    border-radius: 50px;
  }

  .straight {
    width: 75%;
    border-radius: 50px;
  }

  .straight-lines.mirror {
    display: flex;
  }

  .flip-card {
    opacity: 1;
    height: 65vh;
    width: 20%;
    min-width: 20%;
    margin-bottom: unset;
    margin-right: -4%;
    border-radius: 20px;
  }

  .flip-card:hover .inner {
    transform: rotateY(180deg);
  }

  .flip-card .inner .type p {
    margin: 0;
    padding: 10% 5%;
    writing-mode: vertical-lr;
  }

  .flip-card:not(:last-of-type) .inner .type p {
    margin-top: unset;
    margin-bottom: unset;
    margin-left: -20%;
  }

  .dishs {
    transform: rotateY(180deg);
  }

  .dishs::-webkit-scrollbar {
    width: 0px;
  }
}

@media screen and (min-width: 992px) {
  .nav-link:hover {
    color: black !important;
    background-color: white;
  }
}
