/* VARIABLES */
:root {
  --color-white: white;
  --color-black: black;
  --color-dark: rgb(33, 37, 41);
  --carousel-icon-padding: 15%;
  --font-size-title: xxx-large;
  --text-stroke-size: 2px;
  --background-color-flip-card: #677381;
  --background-color-flip-card-one: #2f2c36;
  --background-color-flip-card-two: #383440;
  --background-color-flip-card-three: #413d4b;
  --background-color-flip-card-four: #4a4656;
  --background-color-flip-card-five: #544e60;
  --background-color-flip-card-six: #5d576b;
}

.bg-doodle {
  display: none;
}

#navbar {
  max-width: 1280px;
  background-color: var(--color-black);
}

#navbar,
main {
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

main {
  max-width: calc(1280px + 4%);
}

.navbar-brand,
.nav-link {
  color: var(--color-white);
}

.navbar-brand:hover {
  color: var(--color-white);
}

.carousel-control-next,
.carousel-control-prev {
  top: 10%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  position: relative;
  top: -10%;
  padding: var(--carousel-icon-padding);
}

.carousel-caption > h5 {
  font-weight: 500;
}

.carousel-caption > p {
  display: none;
}

.carousel-item img {
  object-fit: cover;
  object-position: center;
  height: auto;
  width: inherit;
}

#menu-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  position: relative;
  transition: all 2s;
}

#menu-container.animate {
  opacity: 1;
  animation: translate 1s;
}

#menu-title {
  position: relative;
  display: flex;
  width: 100%;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

#title h5 {
  font-size: var(--font-size-title);
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-dark);
  -webkit-text-stroke: var(--text-stroke-size) var(--color-black);
  width: inherit;
  margin-bottom: 0%;
  padding: 10% 10vw;
}

#menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.flip-card {
  height: 300px;
  width: 100%;
  transition: width 0.8s;
}

.flip-card:hover {
  z-index: 6;
}

.flip-card .inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  box-shadow: 0px 0px 20px 10px rgb(0 0 0 / 35%);
  transition: all 0.8s;
}

.flip-card:hover .inner {
  transform: rotateY(180deg);
  box-shadow: none;
}

.flip-card .inner .type {
  background-color: var(--background-color-flip-card);
  padding: 2%;
  color: var(--color-white);
}

.flip-card .inner,
.flip-card .inner .type,
.flip-card .inner .dishs {
  border-radius: inherit;
}

.flip-card:hover .inner {
  box-shadow: none;
}

.flip-card-one .inner .type {
  background-color: var(--background-color-flip-card-one);
}

.flip-card-two .inner .type {
  background-color: var(--background-color-flip-card-two);
}

.flip-card-three .inner .type {
  background-color: var(--background-color-flip-card-three);
}

.flip-card-four .inner .type {
  background-color: var(--background-color-flip-card-four);
}

.flip-card-five .inner .type {
  background-color: var(--background-color-flip-card-five);
}

.flip-card-six .inner .type {
  background-color: var(--background-color-flip-card-six);
}

.type p {
  padding: 2% 4%;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 99px;
}

.dishs {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
  padding: 5%;
  color: var(--color-white);
  background-color: var(--color-dark);
  overflow-y: auto;
  transform: rotateY(180deg);
}

.dish {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: inherit;
  animation: all 2s;
}

.dish-separator {
  width: 20%;
  border-top: 2px solid var(--color-white);
  margin: 10%;
}

.dish b {
  margin-bottom: 2%;
}

.type {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.dishs,
.type {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card:hover .dishs h6,
.flip-card:hover .dish {
  animation: scroll 2s;
}

.straight {
  height: 35px;
  width: 100%;
}

.straight-one {
  opacity: 100%;
  background-color: var(--background-color-flip-card-one);
}

.straight-two {
  opacity: 50%;
  background-color: var(--background-color-flip-card-two);
}

.straight-three {
  background-color: var(--background-color-flip-card-three);
}

.straight-four {
  opacity: 70%;
  background-color: var(--background-color-flip-card-four);
}

.straight-five {
  opacity: 60%;
  background-color: var(--background-color-flip-card-five);
}

.straight-six {
  opacity: 80%;
  background-color: var(--background-color-flip-card-six);
}

.straight .straight-50 {
  width: 50%;
  opacity: 50%;
  background-color: inherit;
  filter: brightness(0.8);
}

.mirror {
  flex-direction: column-reverse;
  direction: rtl;
}

.straight-lines {
  display: block;
  width: 100%;
}

.straight-lines.mirror {
  display: none;
}

@media screen and (max-width: 767px) {
  #menu-title #title {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 80%;
    margin: auto;
  }

  #menu-title #title h5 {
    border-radius: 25px;
  }
}

@media screen and (min-width: 768px) {
  css-doodle {
    --rule: (
      @grid: 16 / 100%; @size: 1px calc(141.4% + 1px) ; transform:
        rotate(@pick(±45deg)) ; background: #00000040; margin: auto;
    );
  }

  .bg-doodle {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .nav-link:hover {
    color: var(--color-black) !important;
    background-color: var(--color-white);
  }

  #title h5 {
    padding: 10%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  }

  #navbar {
    top: 2vh;
    height: 7vh;
    width: 96%;
    border-radius: 20px;
    box-shadow: 0px 0px 0px 5px rgb(0 0 0 / 10%) !important;
  }

  #navbar,
  main {
    min-height: unset;
    padding-left: 2%;
    padding-right: 2%;
  }

  .carousel-container {
    margin: 4vh 0 2vh 0;
  }

  .carousel-inner {
    border-radius: 20px;
  }

  .carousel-item img {
    height: 87vh;
    width: 100%;
  }

  .carousel-caption > p {
    display: block;
  }

  #menu {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin: 2vh 0 5vh 0;
  }

  .straight {
    width: 75%;
    border-radius: 50px;
  }

  .straight-lines.mirror {
    display: flex;
  }

  .flip-card {
    height: unset;
    aspect-ratio: 1;
  }

  .flip-card-one {
    border-top-left-radius: 20px;
  }

  .flip-card-three {
    border-top-right-radius: 20px;
  }

  .flip-card-four {
    border-bottom-left-radius: 20px;
  }

  .flip-card-six {
    border-bottom-right-radius: 20px;
  }

  .dishs::-webkit-scrollbar {
    width: 0px;
  }
}

/* ANIMATIONS */
@keyframes scroll {
  30% {
    translate: 0 0px;
  }
  50% {
    translate: 0 -50px;
  }
  100% {
    translate: 0 0px;
  }
}

@keyframes translate {
  0% {
    translate: 0 10%;
  }
  100% {
    translate: 0 0%;
  }
}
