@media screen and (max-width: 991px) {
  .loader-word {
    font-size: 8vw;
    -webkit-text-stroke: 2px black;
  }
}

@media screen and (min-width: 992px) {
  .loader-word {
    font-size: 5vw;
    -webkit-text-stroke: 3px black;
  }
}

.global-container {
  opacity: 0;
  transition: opacity 0.8s;
}

.loader {
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader h2 {
  display: flex;
}

.loader-word {
  margin: 5% 0 5% 0;
  font-weight: 800;
  text-transform: uppercase;
  animation: color-animation 1s linear infinite;
  animation-timing-function: step-end;
}

.loader-word-1 {
  margin-right: 5%;
  --color-1: #3d8dae;
  --color-2: #000000;
  --color-3: #000000;
  --color-4: #000000;
}

.loader-word-2 {
  --color-1: #000000;
  --color-2: #accfcb;
  --color-3: #000000;
  --color-4: #000000;
}

.loader-word-3 {
  --color-1: #000000;
  --color-2: #000000;
  --color-3: #dbad4a;
  --color-4: #000000;
}

.loader-word-4 {
  --color-1: #000000;
  --color-2: #000000;
  --color-3: #000000;
  --color-4: #df8453;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  25% {
    color: var(--color-2);
  }
  50% {
    color: var(--color-3);
  }
  75% {
    color: var(--color-4);
  }
  100% {
    color: var(--color-1);
  }
}