/* Breakpoints */
@media screen and (min-width: 769px) {
  .navbar-brand {
    font-size: 2vw;
  }
}
@media screen and (max-width: 768px) {
  .navbar-brand {
    font-size: 5vw;
  }
  .navbar-collapse {
    display: none;
  }
  .show {
    display: block;
  }
  .black-navbar {
    background-color: black;
  }
  .main-margin {
    margin-top: -38vh;
  }
}
/* FIN */

/* GLOBAL */
/* Les transitions sont géréees par le script 'loader' */
.navbar {
  position: fixed;
  z-index: 3;
  height: 10vh;
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  box-shadow: 0px 20px 20px 0px rgb(0 0 0 / 5%);
}
.navbar-nav {
  display: flex;
  width: -webkit-fill-available;
  justify-content: flex-end;
  font-weight: bold;
}
.navbar-brand {
  font-weight: 800;
  text-transform: uppercase;
  color: black;
}
.nav-link {
  color: black;
  border-radius: 50px;
  transition: background 0.5s ease;
}
.nav-link:hover {
  background-color: black;
  color: white;
}
.nav-item {
  display: flex;
  align-items: center;
  margin: 1%;
}
.navbar-toggler {
  border: transparent;
}
.navbar-no-scroll {
  background-color: transparent;
}
.navbar-scroll {
  top: 2%;
  left: 0%;
  right: 0%;
  width: 65%;
  background-color: black;
  border-radius: 40px;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}
.navbar-scroll .navbar-brand,
.navbar-scroll .navbar-collapse .navbar-nav li a,
.navbar-scroll .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  filter: invert(100%);
}
