#global-container {
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

main,
footer {
  scroll-snap-align: start;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding: 10% 20px 0 20px;
}

h2 {
  margin: 1% 0 1% 0;
  font-size: xx-large;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  -webkit-text-stroke-width: thin;
  -webkit-text-stroke-color: white;
}

.img-container {
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
  border-radius: 50px;
  box-shadow: 10px 13px 20px 0px rgb(0, 0, 0, 0.5);
  margin: 1% 0 2% 0;
}

.reservation-confirmed {
  text-align: center;
}

@media screen and (min-width: 768px) {
  img {
    max-width: 50%;
  }

  main {
    padding: 10% 0 0 0;
  }
}
