main {
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.img-container,
.img-container > img {
  height: 100%;
  width: 50vw;
  object-fit: cover;
  object-position: center;
}

h2 {
  font-weight: 800;
  text-transform: uppercase;
  margin: 5% 0;
  font-size: 8vw;
}

#check-reservation,
#new-reservation,
#complete-reservation {
  transition: filter 1s;
}

#redirect-reservation {
  height: 100%;
  width: 100%;
  align-content: center;
  padding: 2%;
  background: url('/img/background-reservation-page.jpg');
}

#redirect-reservation button {
  height: 20%;
  width: 100%;
  margin: 2% 0;
}

.row {
  --bs-gutter-y: 30;
}

.row:has(> .btn) {
  margin-left: auto;
  margin-right: auto;
}

.response {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}

.response .hour {
  margin: 0.5vw;
}

.check-reservation-response {
  text-align: center;
  width: 100%;
  padding: 2%;
  background-color: lightgreen;
}

/* LOADER */
#lds-hourglass {
  display: none;
  position: absolute;
  height: inherit;
  align-items: center;
  justify-content: center;
  right: 0;
  z-index: 2;
}

#lds-hourglass:after {
  content: ' ';
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: black transparent black transparent;
  animation: lds-hourglass 1.2s infinite;
}

@media screen and (max-width: 767px) {
  .navbar {
    min-height: 8%;
  }

  .img-container {
    display: none;
  }

  #lds-hourglass {
    width: 100%;
  }

  #redirect-reservation,
  #check-reservation,
  #new-reservation,
  #complete-reservation {
    width: 95%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  #global-container {
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
  
  main,
  footer {
    scroll-snap-align: start;
  }
  
  h2 {
    margin: 0 0 5% 0;
    font-size: 4vw;
  }

  main {
    height: 100%;
  }

  #lds-hourglass {
    width: 50%;
  }

  #redirect-reservation,
  #check-reservation,
  #new-reservation,
  #complete-reservation {
    margin: auto;
    padding: 2%;
  }

  #redirect-reservation {
    background: unset;
  }

  .button-58 {
    min-width: 170px;
  }
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
