html,
body {
  font-family: 'Montserrat';
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 90vh;
}
h2 {
  margin: 1% 0 1% 0;
  font-weight: 800;
  font-size: 3vw;
  text-align: center;
  text-transform: uppercase;
  -webkit-text-stroke-width: thin;
  -webkit-text-stroke-color: white;
}

.img-container {
  display: flex;
  width: 100vw;
  justify-content: center;
}

img {
  max-width: 45%;
  border-radius: 50px;
  box-shadow: 10px 13px 20px 0px rgb(0, 0, 0, 0.5);
  margin: 1% 0 2% 0;
}

.reservation-confirmed {
  font-size: 1vw;
  text-align: center;
}