/* Breakpoints */
@media screen and (max-width: 991px) {
  .global-container {
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }

  .navbar,
  main,
  footer {
    scroll-snap-align: start;
  }

  .navbar-scroll {
    top: initial !important;
    height: initial !important;
    width: initial !important;
    background-color: initial !important;
    border-radius: initial !important;
    box-shadow: initial !important;
  }

  main {
    height: 100vh;
    align-items: center;
  }

  .img-container {
    display: none;
  }

  #redirect-reservation,
  #check-reservation,
  #new-reservation,
  #complete-reservation {
    height: 90%;
    width: 100%;
    margin: 5%;
    border: 3px solid lightslategrey;
  }
}

@media screen and (min-width: 992px) {
  main {
    height: 90vh;
    justify-content: space-between;
  }
  #redirect-reservation,
  #check-reservation,
  #new-reservation,
  #complete-reservation {
    height: inherit;
    width: 50%;
  }

  #redirect-reservation {
    align-items: center;
  }

  .button-58 {
    min-width: 170px;
  }
}

html,
body {
  font-family: 'Montserrat';
}

main {
  display: flex;
}
.img-container,
.img-container > img {
  height: inherit;
  width: 50vw;
  object-fit: cover;
  object-position: center;
}
h2 {
  margin: 5% 0 5% 0;
  font-weight: 800;
  font-size: 4vw;
  text-transform: uppercase;
}
#redirect-reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
}
#redirect-reservation button {
  margin: 2%;
}
#check-reservation,
#new-reservation,
#complete-reservation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
}
.row {
  --bs-gutter-y: 30;
}
.response {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
}
.check-reservation-response {
  padding: 2%;
  border-radius: 15px;
  background-color: lightgreen;
  transition: all 2s;
}

/* CSS button */
.button-58 {
  align-items: center;
  background-color: #06f;
  border: 2px solid #06f;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-58:focus {
  color: #171e29;
}
.button-58:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}
.button-58:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}