/* VARIABLES */
:root {
  --navbar-transition-duration: 0.15s;
  --navbar-collapse-transition-duration: 0.35s;
}

#navbar {
  position: fixed;
  top: 0;
  z-index: 99;
  height: 100px;
  width: 100%;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 5%;
  box-shadow: rgba(255, 255, 255, 0.0333) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.0833) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.1) 0px 30px 60px -30px;
  transition: all var(--navbar-transition-duration) ease;
}

#navbar > .container-fluid {
  max-width: calc(1.5rem + 1440px);
}

.navbar-brand {
  font-size: x-large;
  font-weight: 500;
  text-transform: uppercase;
  color: black;
  z-index: 100;
  transition: all var(--navbar-transition-duration) ease;
}

.navbar-toggler {
  padding: 0;
  border: transparent;
  z-index: 100;
}

.navbar-toggler:focus {
  box-shadow: none;
  outline: 2px solid black;
}

.navbar-toggler-icon,
.navbar-toggler:focus .navbar-toggler-icon {
  transition: background-image 1s ease;
}

.navbar-collapse {
  position: absolute;
  top: 0;
  left: 0;
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 0;
  width: 100%;
  background-color: var(--accent-color-one-six);
  overflow: hidden;
  transition: all var(--navbar-collapse-transition-duration) ease;
}

.navbar-collapse.collapsing,
.navbar-collapse.show {
  height: 100vh !important;
}

.nav-link {
  width: fit-content;
  margin: 10px auto;
  font-size: larger;
  font-weight: bold;
  color: black;
  border-radius: 50px;
  transition: background-color 0.5s ease;
}

.nav-link:hover {
  color: initial;
  background-color: initial;
}

@media screen and (min-width: 992px) {
  #navbar {
    padding-top: unset;
    padding-bottom: unset;
    border-bottom: unset;
  }

  .navbar-brand {
    padding-left: var(
      --bs-navbar-brand-padding-y
    ); /* Le reste est géré par bootstrap */
  }

  .navbar-collapse {
    position: relative;
    height: auto;
    justify-content: end;
    margin-top: unset;
    padding: unset;
    background-color: unset;
    border: unset;
    border-radius: unset;
  }

  .nav-link {
    margin: auto 4px;
    font-size: 15px;
    font-weight: 600;
    color: black;
    border-radius: 50px;
  }

  .nav-link:hover {
    color: white;
    background-color: var(--accent-color-one-one);
  }
}
