@import "~bootstrap/dist/css/bootstrap.min.css";

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --padding-x: 0.75rem;
  --color-grey-light: #f1f1f1;
  --color-grey-medium: #888;
  --color-grey-dark: #555;
  --color-dark: rgb(33, 37, 41);
  --font-size-title: xxx-large;
  --text-stroke-size: 2px;
  --accent-color-one: #677381;
  --accent-color-one-one: #2f2c36;
  --accent-color-one-two: #383440;
  --accent-color-one-three: #413d4b;
  --accent-color-one-four: #4a4656;
  --accent-color-one-five: #544e60;
  --accent-color-one-six: #5d576b;
  --accent-color-two: #aea8ba;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-grey-light);
}

::-webkit-scrollbar-thumb {
  background: var(--color-grey-medium);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-grey-dark);
}

input:read-only {
  filter: brightness(0.5);
}

/* BUTTON STYLES */
.button-58 {
  align-items: center;
  background-color: var(--accent-color-one-six);
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s;
  user-select: none;
}

.button-58:focus,
.button-58:hover,
.button-58:active {
  color: #171e29;
  background: white;
}

.bg-doodle {
  display: none;
  z-index: -1;
}

main {
  width: 100%;
  max-width: calc(var(--padding-x) * 2 + 1440px);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
  background-color: white;
}

section {
  background-color: unset;
}

@media screen and (min-width: 992px) {
  :root {
    --padding-x: 1.5rem;
  }

  css-doodle {
    --rule: (
      @grid: 16 / 100%; @size: 1px calc(141.4% + 1px); transform:
        rotate(@pick (±45deg)); background: #00000040; margin: auto;
    );
  }

  .bg-doodle {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
