main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding-top: 100px;
}

main > h2 {
  margin: 1% 0 1% 0;
  font-size: xx-large;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

main > h2 > span {
  color: var(--accent-color-two);
}

.img-container {
  display: flex;
  justify-content: center;
  width: 85%;
  max-width: 768px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  border-radius: 50px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin: 1% 0 2% 0;
}

.reservation-confirmed {
  text-align: center;
}

@media screen and (min-width: 992px) {
  main > h2 {
    font-size: xxx-large;
  }
}
