#navbar {
  position: sticky;
  background-color: white;
}

#navbar,
main {
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

main {
  background-color: unset;
}

section {
  margin-bottom: 35px;
  border-radius: 5px;
}

.title {
  margin-bottom: 25px;
}

.title h2 {
  font-size: var(--font-size-title);
  font-weight: 500;
  text-transform: uppercase;
  width: inherit;
  text-align: center;
}

#home {
  position: relative;
  width: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

#home img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

#home .title {
  margin: 20px 0 0 0;
}

#home .title h2 {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: larger;
  font-weight: 300;
  background-color: var(--accent-color-two);
}

#home .title p {
  margin: 0;
  font-size: smaller;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

#about-me-container,
#reservation-container {
  position: sticky; /* permet de prévenir l'effet de débordement de la div sur iPhone */
  opacity: 0;
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
  transition: transform 0.15s, opacity 0.4s;
}

#about-me-container {
  transform: translateY(200px);
  border: 0.5rem dashed #f5ebe0;
}

#about-me-container .title h2 {
  width: min-content;
  margin-left: auto;
  margin-right: auto;
  color: transparent;
  background-image: linear-gradient(
    to right,
    var(--accent-color-one-three) 10%,
    var(--accent-color-one-six) 90%
  );
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left;
  background-clip: text;
}

#about-me-container article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
}

#about-me-container article img {
  width: 50%;
  aspect-ratio: 1;
  margin-top: 100px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  transform: rotate(-5deg);
  box-shadow: #d6ccc2 -20px 20px 0px 10px, #f5ebe0 10px -5px 0px 20px;
  border-radius: 1px;
}

#about-me-container a {
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#about-me-container,
#reservation-container {
  padding-top: 35px;
  padding-bottom: 35px;
}

#menu-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  position: relative;
  transition: all 2s;
}

#menu-title-container {
  position: relative;
  display: flex;
  width: 100%;
  scroll-margin-top: 11vh; /* permet d'ajuster la position du anchor lors du clic sur le bouton menu */
}

#menu-title-container .title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: fit-content;
  width: fit-content;
  border-radius: 25px;
  background-image: url("/images/menu-title-background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: #00000010 0px 0px 0px 5px;
  overflow: hidden;
  transition: transform 0.15s, opacity 0.4s;
}

#menu-title-container .title h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  margin-bottom: 0%;
  padding: 5%;
  color: white;
  -webkit-text-stroke: var(--text-stroke-size) black;
}

#menu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 50px; /* Pour rattraper le margin-bottom sur les cartes */
}

.straight {
  height: 35px;
  width: 100%;
  transition: all 0.8s;
}

.straight-one {
  opacity: 100%;
}

.straight-two {
  opacity: 50%;
}

.straight-four {
  opacity: 70%;
}

.straight-five {
  opacity: 60%;
}

.straight-six {
  opacity: 80%;
}

.straight .straight-50 {
  width: 50%;
  opacity: 50%;
  background-color: inherit;
  filter: brightness(0.8);
}

.mirror {
  flex-direction: column-reverse;
  direction: rtl;
}

.straight-lines {
  display: block;
  width: 100%;
}

.straight-lines.mirror {
  display: none;
}

.flip-card {
  height: 300px;
  width: 100%;
  margin-bottom: -75px;
  z-index: 1;
  transition: transform 0.15s, width 0.8s, z-index 0s 0.2s;
}

.flip-card:nth-of-type(n + 2) {
  opacity: 0;
  transform: translateY(100%);
}

.flip-card:hover {
  z-index: 6;
}

.flip-card .inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  transition: all 0.8s;
}

.flip-card:hover .inner {
  transform: rotateX(180deg);
}

.flip-card .inner .type {
  overflow: auto;
}

.flip-card .inner .type .background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 2%;
  color: white;
  filter: contrast(0.65);
}

.flip-card .inner,
.flip-card .inner .type,
.flip-card .inner .dishs {
  border-radius: inherit;
}

.straight-one {
  background-color: var(--accent-color-one-one);
}

.straight-two {
  background-color: var(--accent-color-one-two);
}

.straight-three {
  background-color: var(--accent-color-one-three);
}

.straight-four {
  background-color: var(--accent-color-one-four);
}

.straight-five {
  background-color: var(--accent-color-one-five);
}

.straight-six {
  background-color: var(--accent-color-one-six);
}

.flip-card-one .inner .type .background {
  background-image: url("/images/menu_one.webp");
}

.flip-card-two .inner .type .background {
  background-image: url("/images/menu_two.webp");
}

.flip-card-three .inner .type .background {
  background-image: url("/images/menu_three.webp");
}

.flip-card-four .inner .type .background {
  background-image: url("/images/menu_four.webp");
}

.flip-card-five .inner .type .background {
  background-image: url("/images/menu_five.webp");
}

.flip-card-six .inner .type .background {
  background-image: url("/images/menu_six.webp");
}

.flip-card .type p {
  height: fit-content;
  padding: 2% 4%;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 99px;
  z-index: 1;
}

.flip-card:not(:last-of-type) .inner .type p {
  margin-top: -50px;
}

.dishs {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
  padding: 5%;
  color: white;
  background-color: var(--color-dark);
  overflow-y: auto;
  transform: rotateX(180deg);
}

.dishs::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255, 0.25);
}

.dishs::-webkit-scrollbar-track {
  background-color: var(--color-dark);
}

.dishs .title {
  margin: 15px 0 30px 0;
  font-size: medium;
  font-weight: bold;
  text-transform: uppercase;
}

.dish {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: inherit;
  animation: all 2s;
}

.dish .name {
  font-weight: bold;
}

.dish .description {
  margin: 10px 0;
}

.dish-separator {
  width: 15%;
  border-top: 2px solid white;
  margin: 15px auto;
}

.dishs > .dish-separator:last-of-type {
  opacity: 0;
}

.type {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.dishs,
.type {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card:hover .dishs h6,
.flip-card:hover .dish {
  animation: scroll 2s;
}

#reservation-container {
  transform: translateY(150px);
  background-color: var(--color-dark);
}

#reservation-container .title h2 {
  -webkit-text-stroke: 2px rgb(255, 255, 255, 0.5);
}

#reservation-container a {
  display: flex;
  width: 50%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 991px) {
  section {
    overflow: hidden;
  }

  #menu-title-container .title {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 5% 15%;
  }
}

@media (min-width: 992px) {
  #navbar {
    position: sticky;
    top: 2vh;
    min-height: 7vh;
    width: calc(
      100% - var(--padding-x) * 2
    ); /* cette propriété est également gérée par le app.js */
    max-width: calc(100% - var(--padding-x) * 2);
    padding-left: var(--padding-x);
    padding-right: var(--padding-x);
    background-color: black;
    border-radius: 20px;
    box-shadow: 0px 0px 0px 5px rgb(0 0 0 / 10%) !important;
  }

  .navbar-toggler-icon,
  .navbar-toggler:focus .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    transition: background-image 1s;
  }

  .navbar-brand,
  .nav-link {
    color: white;
  }

  .nav-link:hover {
    color: black !important;
    background-color: white;
  }

  .navbar-brand {
    display: flex;
    align-items: center;
  }

  .navbar-brand:hover {
    color: white;
  }

  .navbar-collapse {
    margin-top: unset;
    padding: unset;
    background-color: unset;
    border: unset;
    border-radius: unset;
  }

  section {
    margin-top: 4vh;
    margin-bottom: 100px;
    border-radius: 25px;
  }

  .title {
    margin-bottom: 50px;
  }

  #home {
    height: 87vh;
  }

  #home img {
    height: 100%;
    aspect-ratio: unset;
  }

  #home .title {
    position: absolute;
    left: 40px;
    bottom: 20px;
  }

  #home .title h2 {
    font-size: var(--font-size-title);
    background-color: white;
  }

  #home .title p {
    font-size: x-large;
    text-align: left;
    color: white;
  }

  #about-me-container,
  #menu-title-container .title,
  #reservation-container {
    opacity: 0;
    transform: translateY(175px);
  }

  #about-me-container,
  #reservation-container {
    padding-left: unset;
    padding-right: unset;
  }

  #about-me-container {
    padding: 0 5%;
    background-color: white;
    border-radius: 75px;
    border: 15px dotted #f5ebe0;
    overflow: hidden;
  }

  #about-me-container .title {
    margin-bottom: 25px;
  }

  #about-me-container .title h2 {
    width: fit-content;
    margin-left: 0;
    margin-right: 0;
  }

  #about-me-container .title h2::first-letter {
    padding: 35%;
    font-size: 153.6px;
    font-weight: 200;
    color: var(--accent-color-two);
  }

  #about-me-container article {
    flex-direction: row;
  }

  #about-me-container article > div:first-of-type {
    max-width: 50%;
  }

  #about-me-container article img {
    width: 30%;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  #about-me-container a {
    margin-top: 50px;
    margin-bottom: 25px;
  }

  #menu {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: unset;
  }

  #menu-title-container {
    margin-bottom: 50px;
  }

  #menu-title-container .title {
    height: 100%;
    width: 100%;
    margin: auto;
    opacity: 0;
    transform: translateY(100%);
    border-radius: 50px;
  }

  #menu-title-container .title h2 {
    height: 100%;
  }

  .straight {
    width: 75%;
    border-radius: 50px;
  }

  .straight-lines.mirror {
    display: flex;
  }

  .flip-card {
    height: 65vh;
    width: 20%;
    min-width: 20%;
    opacity: 1;
    transform: translateY(0);
    margin-bottom: unset;
    margin-right: -4%;
    border-radius: 20px;
  }

  .flip-card:nth-of-type(n + 2) {
    opacity: 1;
    transform: translateY(0);
  }

  .flip-card:hover .inner {
    transform: rotateY(180deg);
  }

  .flip-card .inner .type p {
    margin: 0;
    padding: 10% 5%;
    writing-mode: vertical-lr;
  }

  .flip-card:not(:last-of-type) .inner .type p {
    margin-top: unset;
    margin-bottom: unset;
    margin-left: -20%;
  }

  .dishs {
    transform: rotateY(180deg);
  }

  .dishs::-webkit-scrollbar {
    width: 0px;
  }

  #reservation-container {
    border-radius: 50px;
  }
}

@media screen and (min-width: 1440px) {
  #navbar {
    max-width: 1440px;
  }
}
