main {
  position: relative;
  display: flex;
}

#return-button {
  opacity: 0;
  position: absolute;
  top: 100px;
  left: var(--padding-x); /* padding général */
  height: 100px;
  padding: 0;
  background: none;
  border: none;
  transform: translateX(0);
  cursor: pointer;
  z-index: 2;
  transition: opacity 0.35s ease;
}

#return-button > svg {
  height: 30px;
}

#reservation-container h2::first-letter {
  font-size: 25.6vw; /* font-size x 2 + 25.6vw x line-height */
  line-height: 0.625; /* 11.2 x 0.625 */
  float: left;
  color: var(--accent-color-two);
}

#reservation-container h2 {
  margin: 5% 0;
  font-size: 8vw;
  text-transform: uppercase;
}

#reservation-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 200px);
  width: 100%;
  margin-top: 200px;
  overflow: hidden;
}

#redirect-reservation,
#check-reservation,
#new-reservation,
#complete-reservation {
  opacity: 0;
  height: 0;
  width: 0;
  min-width: 0;
  overflow-x: hidden;
  transform: translateX(100%);
  transition: opacity 0s ease-in, transform 0.35s ease-in, filter 0.8s ease-in;
}

#return-button.show {
  opacity: 1;
  transition: opacity 0.8s ease, transform 0.4s ease;
}

#redirect-reservation.show,
#check-reservation.show,
#new-reservation.show,
#complete-reservation.show {
  opacity: 1;
  height: 100%;
  width: 100%;
  min-width: 100%;
  transform: translateX(0);
  transition: opacity 0.8s ease-out, transform 0.4s ease-out, filter 0.8s ease;
}

.blur {
  filter: blur(10px);
  transition: filter 0.8s ease;
}

#redirect-reservation {
  position: absolute;
  top: 0;
  align-content: center;
  background: url("/images/background-reservation-page.jpg");
  background-size: cover;
  background-position: center;
  z-index: 3;
}

#check-reservation,
#new-reservation,
#complete-reservation {
  padding-bottom: 80px;
  z-index: 1;
}

#check-reservation.show,
#new-reservation.show,
#complete-reservation.show {
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
}

#img-container {
  display: none;
}

#redirect-reservation button {
  display: block;
  height: 125px;
  width: calc(100% - 1.5rem); /* padding general x2 */
  max-width: 500px;
  margin: 10px auto;
}

.row {
  --bs-gutter-y: 30;
}

.row:has(> .btn) {
  margin-left: auto;
  margin-right: auto;
}

.response {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto 0;
}

.response .fullname {
  font-weight: bold;
}

.response .hour-container {
  width: 100%;
  margin-bottom: 1%;
}

.hour-container label {
  display: block;
  height: auto;
  width: 100%;
  margin-bottom: 1%;
  padding: 2% 0.5%;
  color: white !important;
  background: unset !important;
  background-color: var(--accent-color-two) !important;
  border-radius: 5px;
}

.hour-container label:hover {
  background-color: var(--bs-dark-emphasis) !important;
}

.check-reservation-response {
  width: 100%;
  margin-top: 10%;
  padding: 20px;
  text-align: center;
  background-color: lightgreen;
  border: 5px solid darkseagreen;
  border-radius: 5px;
}

/* LOADER */
#lds-hourglass {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

#lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: black transparent black transparent;
  animation: lds-hourglass 1.2s infinite;
}

@media screen and (min-width: 992px) {
  #global-container {
    scroll-snap-type: y mandatory;
  }

  #navbar {
    filter: none;
  }

  main {
    height: auto;
  }

  main,
  footer {
    scroll-snap-align: start;
  }

  #reservation-container h2 {
    margin: 0 0 5% 0;
    font-size: 3.5vw;
  }

  #reservation-container h2::first-letter {
    font-size: 11.2vw;
  }

  #lds-hourglass {
    left: 50%;
    bottom: 50%;
    height: inherit;
    width: 50%;
  }

  #return-button {
    position: fixed;
    top: 20vh;
    left: calc(50% - 30px);
    height: 60px;
    width: 60px;
    padding: 10px;
    background-color: white;
    border-radius: 999px;
  }

  #return-button:hover {
    transform: translateX(-15px);
  }

  #return-button > svg {
    height: 35px;
  }

  #img-container,
  #reservation-container {
    width: 50%;
  }

  #reservation-container {
    width: 50%;
    margin-top: 0;
  }

  #redirect-reservation,
  #check-reservation,
  #new-reservation,
  #complete-reservation {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    padding-top: calc(10% + 100px); /* 100px = return-button height */
    padding-bottom: calc(10% + 100px);
  }

  #redirect-reservation.show,
  #check-reservation.show,
  #new-reservation.show,
  #complete-reservation.show {
    width: 85%;
    min-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  #img-container {
    display: block;
  }

  #img-container > img {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: contrast(0.85);
  }

  #redirect-reservation {
    background: white;
  }

  .response .hour-container {
    width: 49%;
  }

  .response .hour-container:nth-child(odd) {
    margin-right: 2%;
  }

  .response .hour-container label {
    padding: 4% 1%;
  }
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    transform: rotate(1800deg);
  }
}
