main {
  position: relative;
  display: flex;
}

#return-button {
  position: absolute;
  top: 10%;
  left: 0.75rem;
  height: 10%;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
}

#return-button > svg {
  height: 30px;
}

#redirect-reservation {
  z-index: 3;
}

#check-reservation,
#new-reservation,
#complete-reservation {
  z-index: 1;
}

#redirect-reservation.hidden,
#check-reservation.hidden,
#new-reservation.hidden,
#complete-reservation.hidden {
  display: none; /* ne pas mettre  le display none cause des soucis de mise en page */
  width: 0;
  padding-left: 0;
  padding-right: 0;
  opacity: 0;
}

#img-container {
  display: none;
}

h2 {
  font-weight: 800;
  text-transform: uppercase;
  margin: 5% 0;
  font-size: 8vw;
}

#redirect-reservation,
#check-reservation,
#new-reservation,
#complete-reservation {
  min-height: 100vh;
  padding-top: 20vh;
  padding-bottom: 20vh;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  opacity: 1;
  overflow-x: hidden;
  transition: opacity 1s, transform 0.8s, filter 1s;
}

#redirect-reservation {
  width: 100%;
  align-content: center;
  background: url("/images/background-reservation-page.jpg");
  background-size: cover;
  background-position: center;
}

#redirect-reservation button {
  display: block;
  height: 125px;
  width: 100%;
  max-width: 500px;
  margin: 2% auto;
}

.row {
  --bs-gutter-y: 30;
}

.row:has(> .btn) {
  margin-left: auto;
  margin-right: auto;
}

.response {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}

.response .hour {
  margin: 0.5vw;
}

.check-reservation-response {
  text-align: center;
  width: 100%;
  margin-top: 10%;
  padding: 2%;
  background-color: lightgreen;
  border: 5px solid darkseagreen;
  border-radius: 5px;
}

/* LOADER */
#lds-hourglass {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

#lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: black transparent black transparent;
  animation: lds-hourglass 1.2s infinite;
}

@media screen and (min-width: 992px) {
  #global-container {
    scroll-snap-type: y mandatory;
  }

  #navbar {
    filter: none;
  }

  main {
    height: auto;
  }

  main,
  footer {
    scroll-snap-align: start;
  }

  h2 {
    margin: 0 0 5% 0;
    font-size: 4vw;
  }

  #lds-hourglass {
    left: 50%;
    bottom: 50%;
    height: inherit;
    width: 50%;
  }

  #return-button {
    left: calc(50% + 0.75rem);
    height: 100px;
  }

  #return-button > svg {
    height: 35px;
  }

  #img-container,
  #redirect-reservation,
  #check-reservation,
  #new-reservation,
  #complete-reservation {
    width: 50%;
  }

  #redirect-reservation,
  #check-reservation,
  #new-reservation,
  #complete-reservation {
    padding-top: calc(10% + 100px); /* 100px = return-button height */
    padding-bottom: calc(10% + 100px);
  }

  #img-container {
    display: block;
  }

  #img-container > img {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: contrast(0.85);
  }

  #redirect-reservation {
    background: white;
  }
}
