<div class="container-fluid contentFooter col-lg-8 d-flex justify-content-center">

	<div class="col">
		<strong>A propos :</strong><br>You can use rows and columns to organize your footer content.
			        Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
	<div class="col">
		<strong>Contacts :</strong><br>
		Tél :
		<a href="tel:0601020304">06 01 02 03 04</a><br>
		Mail :
		<a href="mailto:john.doe@studi.fr">STUDI</a><br>
		Page Facebook :
		<a href="#">Lien</a><br>
		<a href="#">Mentions légales</a><br>
		<a href="#">Politique de confidentialité</a>
	</div>
	<div class="col">
		<p>
			<strong>Le vingtième</strong><br>
			1 rue des Pyrénées - 75020 Paris<br>
			Réservations : 01 53 35 50 00<br>
			Mardi > Vendredi : 13h00 > 23h00<br>
			Week-end : 13h00 > 23h00</p>
	</div>
</div>
<div class="copyright container-fluid d-flex justify-content-center">Copyright 2023 Salaha S</div></div>