<div class="container">
	<div class="row">
		<div class="col">
			<div class="row">
				<div class="col">
					<div class="footer-logo">
						<h3 class="logo-footer">LE VINGTIEME</h3>
						<p>1 rue des Pyrenées, 75020 Paris</p>
						<p>Le Vingtième c'est la cuisine de toutes les gourmandises, alliant jus pressés minute de fruits et légumes, cocktails maison et recettes savoureuses.</p>
						et dolore magna aliqua.</p>
				</div>
			</div>
			<div class="col">
				<h6>A propos de nous</h6>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="row">
			<div class="col">
				<h6>Nos réseaux</h6>
				<div class="row">
					<div class="col">
						<ul>
							<li><a href="#">Facebook</a></li>
							<li><a href="#">Instagram</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col">
				<h6>Nous contacter</h6>
				<div class="row">
					<div class="col">
						<ul>
							<li><a href="tel:0601020304">06 01 02 03 04</a></li>
							<li><a href="mailto:sokhona.salaha@gmail.com">sokhona.salaha@gmail.com</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col">
				<h6>Horaires</h6>
				<p>
					Mardi > Vendredi : 13h00 > 23h00<br>
					Week-end : 13h00 > 23h00</p>
				<p>Réservations : 01 02 03 04 05</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<span class="copyright m-auto pt-4">© 2024 Salaha Sokhona. Tous droits réservés.</span>
</div></div>
