<footer id="footer" class="container-fluid bg-dark row g-0">
	<div class="container-fluid contentFooter col-lg-8 d-flex justify-content-center">
		<div class="col-lg-3">
			<strong>A propos :</strong><br>You can use rows and columns to organize your footer content.
											        Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
		<div class="col-lg-3">
			<strong>Contacts :</strong><br>
			Tél :
			<a href="tel:0601020304">06 01 02 03 04</a><br>
			Mail :
			<a href="mailto:john.doe@studi.fr">STUDI</a><br>
			Page Facebook :
			<a href="">Lien</a><br>
			<a href="">Mentions légales</a><br>
			<a href="#">Politique de confidentialité</a>
		</div>
		<div class="col-lg-3">
			<p>
				<strong>Ici vous êtes au :</strong><br>
				CENTQUATRE-PARIS !<br>
				5 rue Curial - 75019 Paris<br>
				Billetterie : 01 53 35 50 00<br>
				Mardi > Vendredi : 12h00 > 19h00<br>
				Week-end : 11h00 > 19h00</p>
		</div>
	</div>
	<div class="copyright container-fluid d-flex justify-content-center">Copyright 2023 Salaha S</div>
</div></footer>
