<div class="container-fluid">
	<a class="navbar-brand" href="/">Le vingtième</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-link" href="/">Accueil</a>
			<a class="nav-link" href="/#menu-title">Menu</a>
			<a class="nav-link" href="/reservation">Réservation</a>
			<a class="nav-link" href="/about">Qui sommes-nous ?</a>
		</div>
	</div>
</div>
