<a class="navbar-brand" href="../index.html">Le vingtième</a>
<div id="navbar" class="navbar-toggler">
	<span id="nav-toggler-icon" class="navbar-toggler-icon"></span>
</div>
<div class="navbar-collapse justify-content-end" id="navbarNav">
	<ul class="navbar-nav">
		<li class="nav-item active">
			<a class="nav-link" href="/">Accueil</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="../../index.html#menu">Menu</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="../../reservations.html">Réservation</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="../../about.html">Qui sommes-nous ?</a>
		</li>
	</ul>
</div>
