<div id="loader">
	<h2>
		<span class="loader-word loader-word-1">Le</span>
		<span class="loader-word loader-word-2">Ving</span>
		<span class="loader-word loader-word-3">t</span>
		<span class="loader-word loader-word-4">ième</span>
	</h2>
</div>
